<!DOCTYPE html>
<html>
  <head>
    <title>RailsMovieList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class=navbar-lewagon style="display:flex; justify-content:space-between">
  <%= image_tag "movie-icon.png", alt: "Le Wagon", width: 50 %>
  <%= link_to "My List", root_path, style: "color:black; text-decoration:none; margin-right:5px; display:flex; align-items:center;"%>
  </div>

    <%= yield %>
  </body>
</html>
